* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(/img/Tropical1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 90%;
    max-width: 440px;
    color: #000;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: rgba(255, 255, 255, .2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0, .1);
    backdrop-filter: blur(5px);
}

.profile-picture {
    max-height: 9rem;
    border-radius: 50%;
}

.card h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 20px;
}

.card p {
    font-size: 1rem;
    margin: 10px auto;
    max-width: 330px;
}

.icons img {
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    background-color: #000;
    color: #dcbb6e;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;
}
